body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }

  .container {
    text-align: center;
  }

  input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
  }

  button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #A949EA;
    color: white;
    cursor: pointer;
  }

  button:hover {
    background-color: #981dea;
  }

  .output {
    margin-top: 20px;
  }